/** iconos **/
@charset "UTF-8";
@font-face {
  font-family: "courier";
  src:url("fonts/courier.eot");
  src:url("fonts/courier.eot?#iefix") format("embedded-opentype"),
    url("fonts/courier.woff") format("woff"),
    url("fonts/courier.ttf") format("truetype"),
    url("fonts/courier.svg#courier") format("svg");
  font-weight: normal;
  font-style: normal;

}
[data-icon]:before {
  font-family: "courier" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "courier" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;
}
.icon-bars:before {
  content: "\61";
}
.icon-mobile:before {
  content: "\62";
}
.icon-envellope-mail-streamline:before {
  content: "\63";
}
.icon-package:before {
  content: "\64";
}
.icon-sign-out:before {
  content: "\65";
}
.icon-mail:before {
  content: "\66";
}
.icon-mail-read:before {
  content: "\67";
}
.icon-repo:before {
  content: "\68";
}
.icon-phone:before {
  content: "\69";
}
.icon-book:before {
  content: "\6a";
}
.icon-user:before {
  content: "\6b";
}
.icon-barcode:before {
  content: "\6c";
}
.icon-user-1:before {
  content: "\6d";
}

/** FUENTES **/

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body{
  font-family: 'Roboto Mono', sans-serif;
  margin:0px;
}

article{
  margin 1em;
}

header{
  width:100%;
  background-color:black;
}

#btn_menu{
  display:none;
}

header label{
  display:none;
  /* display:block;  Para empezar movil first*/
  width: 30px;
  height: 30px;
  padding:10px;
  border-right: 2px solid white;
}

header label:hover{
  cursor: pointer;
  background-color: rgba(50,50,50,0.8);
}

.menu ul{
  display:flex;
  list-style: none;
  margin:0;
  padding: 0;
  justify-content:flex-end;

}
.menu li{
  border-left:1px solid rgba(255,255,255,0.5);
}

.menu li:hover{
  background-color: rgba(50,50,50,0.8);
}
.menu li a{
  display:block;
  padding:15px 20px;
  color:white;
  text-decoration: none;
}

@media (max-width:780px){
  header label{
    display:block;
  }
  .menu{
    position:absolute;
    background-color:black;
    width:100%;
    margin-left:-100%;
  }
  .menu ul{
    flex-direction: column;
  }
  .menu li{
    border-top: 1px solid white;
  }
  #btn_menu:checked ~ .menu{
    margin:0;
    transition: all 0.5s;
  }
}
